:root {
    --primary-color: #5B96C2;
    --secondary-color: #78A3BE;
    --accent1-color: #D5E1A3;
    --accent2-color: #E2F89C;
    --heading1-font: 'Shrikhand', cursive;
    --heading2-font: 'Playfair', serif;
    --body-font: 'Montserrat', sans-serif;
}

/* Reset Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

/* Header */
header {
    background-color: var(--primary-color);
    color:var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    height: 60px;
}

nav a {
    color: var(--accent2-color);
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
}

/* Typography */
h1 {
    font-family: var(--heading1-font);
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    text-align: center;
    color: #03045E;
}

h2 {
  font-family: var(--heading2-font);
  font-size: 2rem;
  color: #03045E;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p, section, article {
    margin: 16px;
    padding: 8px;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 2rem;
}

.hero article {
    position: absolute;
    bottom:20px;
    left: 20px;
    background-color: rgba(255,255,255, 0.85);
    padding: 16px;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
    border-radius: 8px;
}

/* Section: Adventure Image */
section img {
    width: 150px;
    margin: 8px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* footer */
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    padding: 16px;
    font-size: 0.9rem;
    margin-top: 3em;
}

footer .socialmedia img {
    width: 24px;
    margin: 0 0.5em;
}