* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin:auto;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    text-align:center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main {
    max-width: 840px;
    padding: 20px;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

aside {
    flex: 1;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #eee;
    text-align: center;
}

aside img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

p{
    padding: 0;
    margin: 10px 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}